<a href="https://colab.research.google.com/github/Mtahir1/HousePricesPrediction/blob/master/HousePricesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# Load data
melbourne_file_path = '../melb_data.csv' 
home_data = pd.read_csv(melbourne_file_path)
home_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
# dropna drops missing values (think of na as "not available")
home_data = home_data.dropna(axis=0)

# Create target object and call it y
home_data.head()

       Suburb          Address  ...             Regionname Propertycount
1  Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford     5 Charles St  ...  Northern Metropolitan        4019.0
4  Abbotsford      55a Park St  ...  Northern Metropolitan        4019.0
6  Abbotsford     124 Yarra St  ...  Northern Metropolitan        4019.0
7  Abbotsford    98 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [6]:
y = home_data.Price
print(y)

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [7]:
# Create X
features = ['YearBuilt', 'Landsize', 'BuildingArea', 'Bedroom2', 'Bathroom']
X = home_data[features]
print(X)

       YearBuilt  Landsize  BuildingArea  Bedroom2  Bathroom
1         1900.0     156.0         79.00       2.0       1.0
2         1900.0     134.0        150.00       3.0       2.0
4         2014.0     120.0        142.00       3.0       1.0
6         1910.0     245.0        210.00       4.0       2.0
7         1890.0     256.0        107.00       2.0       1.0
...          ...       ...           ...       ...       ...
12205     1996.0     972.0        149.00       3.0       2.0
12206     1890.0     179.0        115.00       3.0       1.0
12207     1967.0       0.0         35.64       1.0       1.0
12209     2012.0       0.0         61.60       2.0       1.0
12212     1920.0    1087.0        388.50       6.0       3.0

[6196 rows x 5 columns]

In [10]:
# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# Specify Model
iowa_model = DecisionTreeRegressor(random_state=1)
# Fit Model
iowa_model.fit(train_X, train_y)

# Make validation predictions 
val_predictions = iowa_model.predict(val_X)
print(val_predictions)

[ 950000.  880000.  967000. ... 1480000.  714000. 1905000.]

In [11]:
# Calculate mean absolute error
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE when not specifying max_leaf_nodes: {:,.0f}".format(val_mae))

Validation MAE when not specifying max_leaf_nodes: 365,436

In [9]:
# Using best value for max_leaf_nodes
iowa_model = DecisionTreeRegressor(max_leaf_nodes=100, random_state=1)
iowa_model.fit(train_X, train_y)
val_predictions = iowa_model.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE for best value of max_leaf_nodes: {:,.0f}".format(val_mae))

Validation MAE for best value of max_leaf_nodes: 286,362